@import 'blend';

red = #F30;
green = #3F0;

#red {
	background-color: red;
}
#redgreen {
	blend(red, green);
}
/*#redgreenmult {
	blend(red, green, false, multiply);
}
#redgreenscreen {
	blend(red, green, .5, screen);
}
#redgreen50mult {
	blend(red, rgba(green, .5), .5, multiply);
}
#red50greenmult {
	blend(rgba(red, .5), green, false, multiply);
}
#red50green50mult {
	blend(rgba(red, .5), rgba(green, .5), false, multiply);
}*/
#red50green50 {
	blend(rgba(red, .5), rgba(green, .5));
}
#red75green75 {
	blend(rgba(red, .75), rgba(green, .75));
}
